

.merriweather-uniquifier> {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.inter-uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;

}
.container{
    width: 1320px;
    margin: 0 auto;
}
  /* style banner section */
.banner-section{
    background-image: linear-gradient(180deg, rgba(7, 2, 17, 1) 0%, rgba(7, 2, 17, 0) 100%), url("../images/Banner-Image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
    margin-top: 50px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    gap: 20px;
}


.banner-section h3{
   font-size: 32px;

}
.banner-section h1{
    width: 632px;
   font-size: 72px;
   font-weight: 800;
   
}

/* style second section */
.second{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: "Inter", sans-serif;
}

.second h1{
    
    color: #FF0000;
    font-size: 88px;
    font-weight: bold;

}
.second h4{
    color: #FF0000;
    font-size: 24px;
    font-weight: 400;
}
.second h2{
    color: #070211;
    font-size: 48px;
    font-weight: bold;
}

/* style second section */

.third-section{
    background-image: linear-gradient(90deg, rgba(7, 2, 17, 1) 0%, rgba(7, 2, 17, 0) 100%), url("../images/Vectorrr.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    margin-top: 120px;
    margin-bottom: 50px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    
}

.third{
    width: 642px;
    padding-left: 120px;
}

.third-section h1{
    font-size: 64px;
    font-weight: 800;
    line-height: 88px;
    letter-spacing: calc(88px*.11);
}

.third-section p{
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
    font-family: "Inter", sans-serif;
    margin-top: 24px;
    color: #FFFFFFcc;

}

.third-section button{
    align-self: start;
    margin-top: 32px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: bold;
    background: none;
    color: #fff;
    border: none;
    margin-left: 25px;
}

/* style forth section */
.forth-section{
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0) 100%);
    font-family: "Inter", sans-serif;
    height: 482px;
    margin-top: 120px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.forth-section h1{
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}
.forth-section .color{
    color: #FF0000;
}

.forth-section button{
    background-color: #FF0000;
    color: #fff;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    margin-top: 48px;
    font-size: 20px;
    font-weight: bold;
}

/* style forth section */

.fifth-section{
    margin-top: 120px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
}
.fifth-section .text{
    padding-bottom: 70px;
}
.fifth-section p{
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: #07021199;
    width: 393px;
    margin-top: 16px;
}


.text h5{
    color: #FF0000;
    font-size: 24px;

}
.text h3{
    font-family: "Merriweather", serif;
    color: #070211;
    font-size: 48px;
    font-weight: bolder;
    margin-top: 16px;
}
.image{
    border: 13px solid #FF0000;
    border-radius: 50%;
    padding: 20px;
}
/* .text-img{
    margin-left: 70px;
} */
.text-img h2{
    color: #FF0000;
    font-size: 48px;
    font-weight: bold;

}
.text-img p{
    width: 276px;
    /* margin-top: 16px; */
}

.text-img img{
   margin-top: 43px;
}

.sixth-section{

}

.sixth-section .text-area{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sixth-section h6{
    font-family: "Inter", sans-serif;
    font-size: 24px;
}

.sixth-section h2{
    font-size: 72px;
    font-weight: 900;
}

.sixth-section p{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #07021199;
    font-weight: 500;
}
.sixth-section .sixth{
    background-image: url(../images/Rectangle-2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 16px;
    
}
